.nav
    background-color: #0032E3
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding: 35px 0
        @media (max-width: 520px)
                padding: 20px 0
    &__logo-wrap
        display: flex
        align-items: center
    &__burger
        width: 23px
        height: 2.5px
        margin: 2px 0
        background-color: #fff
        border-radius: 4px
        position: relative
        margin-right: 12px
        cursor: pointer
        z-index: 3
        display: none
        transition: all .5s
        @media (max-width: 1070px)
            display: block

        &::before
            @extend .nav__burger
            // position: absolute
            content: ''
            // top: 8px
            // left: 0
            margin-top: 2px

        &::after
            @extend .nav__burger
            // position: absolute
            margin: auto
            content: ''
            margin-bottom: 2px
            // top: -7px
            // left: 0
        &--opened
            @extend .nav__burger
            display: block
            transform: rotate(45deg)
            z-index: 3
            &::before
                display: none
            &::after
                @extend .nav__burger--opened
                content: ''
                top: 0
                left: 0
                transform: rotate(90deg)
    &__logo
        font-weight: bold
        font-size: 32px
        line-height: 35px
        letter-spacing: -0.02em
        color: #FFFFFF
        cursor: pointer
        &::after
            content: '.'
            color: #5288F1
    &__list
        display: flex
        @media (max-width: 1070px)
            display: none
            
        &-item
            
            &:not(:last-child)
                margin-right: 85px
        &-link
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: #FFFFFF
            padding-bottom: 3px
            transition: all .3s
            &:hover
                border-bottom: 2px solid #ffffff
                border-radius: 4px
                
    &__buttons
        display: flex
        align-items: center

        &-login
            color: #ffffff
            margin-right: 35px
            cursor: pointer
            font-weight: 400
            font-size: 18px
            transition: transform .3s
            &:hover
                transform: translateY(-2px)
            @media (max-width: 520px)
                display: none
        &-start
            color: #ffffff
            padding: 18px 42px
            border: 1px solid white
            border-radius: 10px
            cursor: pointer
            font-size: 20px
            display: block
            transition: transform .3s
            &:hover
                transform: translateY(-2px)
            @media (max-width: 520px)
                padding: 10px 20px
                font-size: 16px
    &__opened
        position: relative
        &-list
            transition: all .5s
            width: 70%
            height: 100vh
            background-color: #0032E3
            position: absolute
            left: -100%
            top: 0
            z-index: 2  
            @media (max-width: 500px)
                width: 100%  
            &-item
                text-align: center
                padding: 25px 5px
                transition: all .3s
                &:first-child
                    margin-top: 100px
                &:hover
                    transform: translateY(5px)
        &-link
            color: #ffffff
            font-weight: 400
            font-size: 25px
            cursor: pointer
            @media (max-width: 500px)
                font-size: 18px

        &-active
            left: 0       
.btn
    padding: 5px