article.demo
    .container    
        .demo__wrap
            .demo__left
                h2.demo__title As powerful or as simple as you need it be
                p.demo__desc Customise your mobile and desktop apps to show as much data as you need to make the best fininacial investments. Ease of use has been baked in from day 1.<br> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.            
                a(href="#" class="demo__btn") Watch the demo
            .demo__right
                img(src="img/demo-img.png", alt="Screen video" class="demo__img")