footer.footer
    .container
        .footer__wrap
            .footer__left
                a(href="#" class="footer__logo") Crypto
                p.footer__desc Get insider investing and crypto resources straight to your inbox every week.
                .footer__input
                    input(type="email" placeholder="Your email here" class="footer__email")
                    button(type="submit").footer__btn Join   
            .footer__right
                ul.footer__list
                    li.footer__list-title Our products
                    li.footer__list-item
                        a(href="#").footer__list-link Wallet
                    li.footer__list-item 
                        a(href="#").footer__list-link Investor Booster
                    li.footer__list-item 
                        a(href="#").footer__list-link Referral Earn
                    li.footer__list-item
                        a(href="#").footer__list-link Venture Fund
                    li.footer__list-item
                        a(href="#").footer__list-link ETF Merger
                ul.footer__list
                    li.footer__list-title Why choose Crypo?
                    li.footer__list-item
                        a(href="#").footer__list-link Crypto vs. Coinbase
                    li.footer__list-item 
                        a(href="#").footer__list-link How we’re different
                    li.footer__list-item 
                        a(href="#").footer__list-link Our Philosophy
                    li.footer__list-item
                        a(href="#").footer__list-link  Critical financial reviews
                    li.footer__list-item
                        a(href="#").footer__list-link What our customers say
                ul.footer__list
                    li.footer__list-title Social
                    li.footer__list-item
                        a(href="#").footer__list-link Twitter
                    li.footer__list-item 
                        a(href="#").footer__list-link Facebook
                    li.footer__list-item 
                        a(href="#").footer__list-link Instagram
                    li.footer__list-item
                        a(href="#").footer__list-link Vkontakte
        p.footer__rights Cyrto ©  All rights reserved 2020. 