
header.header
    div.container.d-flex
        div.header__col--left
            h1.header__title Trusted by over 1 million users
            p.header__desc Manage your cryptocurrency with ease — our rates are the lowest in the industry to buy, sell and manage all in 1 place. The easiest platform to convert crypto holdings to cash. 

        div.header__col--right
            img(src="/img/header-img.png" alt="Two peoples" class="header__img")
