nav.nav
    .container
        .nav__wrapper
            .nav__logo-wrap
                button(class="nav__burger nav__burger--opened")
                a(href="#").nav__logo Crypto
            ul.nav__list
                li.nav__list-item
                    a.nav__list-link(href="#") Our products
                li.nav__list-item
                    a.nav__list-link(href="#") Why choose Crypto? 
                li.nav__list-item
                    a.nav__list-link(href="#") Our philosophy
            .nav__buttons
                a.nav__buttons-login Login
                a.nav__buttons-start Get started


