article.protect
    .container
        .protect__wrap
            .protect__left
                img(src="img/protect-img.png", alt="Img" class="protect__img")
            .protect__right
                h3.protect__title Privacy and security prioritised in from the beginning.
                p.protect__desc Our technology is built on top of Cloud7 propriertary - the most trusted platform when it comes to cyber security. NASA, the FBI and Amazon use this very platform so you are in safe hands.
                p.protect__info Trusted by 1,000,000+ users
                 