article.register
    .container
        .register__wrap
            .register__left
                img(src="img/register-img.svg", alt="Image" class="register__img")
            .register__right
                h3.register__title Start building your crypto holdings today!
                a(href="#" class="register__btn") I’m ready to get started