article.story
    .container    
        .story__wrap
            .story__left
                img(src="img/user-photo.png", alt="User photo" class="story__img")
            .story__right
                h3.story__title How Rick used <span>Crypto</span> to manage and grow his portofolio by 1200%
                .story__user Rick Story
                .story__text-wrap 
                    p.story__text.story__text-l Rick is a lead developer at startup Shackle. Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p.story__text.story__text-r Rick is a lead developer at startup Shackle. Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .story__performance
            h4.story__performance-title Ricks top 3 holdings - Daily performance
            ul.story__performance-coins-list
                li.story__performance-coin-item#btc
                    span.story__performance-coin Bitcoin 
                    span.story__performance-per +24% 
                    p.story__performance-price $0

                li.story__performance-coin-item#eth 
                    span.story__performance-coin Ethereum 
                    span.story__performance-per +19% 
                    p.story__performance-price $0
                    
                li.story__performance-coin-item#ltc 
                    span.story__performance-coin Litecoin 
                    span.story__performance-per.story__performance-per--red -5,7% 
                    p.story__performance-price $0

